@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello-social/fontello.eot?43114062");
  src: url("../fonts/fontello-social/fontello.eot?43114062#iefix") format("embedded-opentype"), url("../fonts/fontello-social/fontello.woff?43114062") format("woff"), url("../fonts/fontello-social/fontello.ttf?43114062") format("truetype"), url("../fonts/fontello-social/fontello.svg?43114062#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header_main__link--line::after, .unit_left__content::before, .unit_right__content::before, .unit_top__content::before, .hello__descr_cont::before, .checkbox_custom__label::before, .card__content::before, .main_topic::before {
  content: "";
  display: inline-block;
  position: absolute;
}

.social, .footer__items, .pag__item {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.unit_left::after, .unit_right::after {
  content: "";
  display: table;
  clear: both;
}

.header_top__search_triangle, .unit_top__content::before, .card__content::before {
  top: -29px;
  left: 40px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #f4f4f4;
}

.main_topic::before {
  bottom: -29px;
  left: 40px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #f4f4f4;
}

.unit_left__content::before, .hello__descr_cont::before {
  top: 25px;
  left: -30px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid #f4f4f4;
}

.unit_right__content::before {
  top: 25px;
  right: -29px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #f4f4f4;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "SegoeUIRegular", Arial, sans-serif;
  color: #424242;
  font-size: 16px;
  margin-bottom: 160px;
}

a {
  color: #424242;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #FA2449;
  text-decoration: none;
  outline: none;
}

::selection {
  background-color: lightgray;
}

@media (max-width: 920px) {
  body {
    margin-bottom: 235px;
  }
}
@media (max-width: 425px) {
  body {
    margin-bottom: 270px;
  }
}
.header {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}

.search {
  display: none;
  height: 150px;
  max-width: 1170px;
  padding: 30px 15px 15px;
  text-align: left;
  color: #FFF;
}
.search__cont {
  margin-bottom: 10px;
}
.search__input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #FFF;
  background-color: #FA2449;
  font-size: 33px;
  box-shadow: none;
  border-radius: 0;
  height: 60px;
  color: #FFF;
}
.search__input:hover, .search__input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}
.search__btn_cont {
  padding: 0;
  background: none;
  border: none;
}
.search__btn {
  height: 56px;
  width: 45px;
  padding: 0;
  background: none;
  border: none;
  font-size: 33px;
  color: white;
}
.search__btn:hover, .search__btn:focus {
  outline: none;
}
.search__label {
  font-weight: normal;
}

.header_top {
  font-size: 14px;
  background-color: #FA2449;
  height: 65px;
  text-align: right;
  overflow: hidden;
}
.header_top__cont {
  line-height: 37px;
  height: 65px;
  padding: 12px 15px;
  max-width: 1170px;
}
.header_top__purchase {
  margin-right: 30px;
  color: #FFF;
  text-decoration: none;
}
.header_top__purchase:hover, .header_top__purchase:focus {
  color: #FFF;
}
.header_top__search_btn {
  display: inline-block;
  text-align: center;
  background: #C1012E;
  width: 130px;
  height: 40px;
  color: #FFF;
  text-decoration: none;
  position: relative;
}
.header_top__search_btn:hover, .header_top__search_btn:focus {
  text-decoration: none;
  color: #FFF;
}
.header_top__lens {
  font-size: 11px;
}
.header_top__search_triangle {
  position: absolute;
  border-bottom-color: #C1012E;
  left: 45px;
  border-width: 0 20px;
  top: 0;
}

@media (max-width: 767px) {
  .header_top {
    height: 0;
  }
  .header_top__cont {
    height: 0;
  }
}
.header_main {
  min-height: 75px;
  background: white;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 0;
}
.header_main__cont {
  max-width: 1170px;
}
.header_main__toggle {
  margin-top: 14px;
  margin-bottom: 15px;
  position: relative;
}
.header_main__toggle_line {
  background-color: #FA2449;
  height: 4px;
  width: 35px;
  margin-top: 7px;
  transition: transform .35s, opacity .2s;
}
.header_main__toggle_line:nth-child(2) {
  margin-top: 0;
}
.header_main__lens {
  position: absolute;
  top: 22px;
  right: 90px;
  font-size: 30px;
  color: #FA2449;
  border: none;
  text-decoration: none;
}
.header_main__logo {
  height: 75px;
}
.header_main__outer {
  padding: 0;
}
.header_main__inner {
  margin-left: 235px;
}
.header_main__items {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.header_main__items::before, .header_main__items::after {
  display: none;
}
.header_main__item {
  position: static;
  padding: 0 15px;
}
.header_main__item.open .subitems, .header_main__item:hover .subitems {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s;
}
.header_main__item:first-child {
  margin-left: -15px;
}
.header_main__item--line {
  padding: 0;
}
.header_main__item--last {
  margin-right: -15px;
}
.header_main__link {
  color: #FA2449;
  line-height: 43px;
  cursor: pointer;
  position: relative;
  padding: 15px 0;
  font-weight: bold;
  text-decoration: none;
}
.header_main__link:hover, .header_main__link:focus {
  border-bottom: 2px solid #FA2449;
}
.header_main__link--phone {
  font-size: 23px;
  font-weight: normal;
}
.header_main__link--phone:hover, .header_main__link--phone:focus {
  border-bottom: none;
}
.header_main__link--line {
  display: block;
  cursor: inherit;
}
.header_main__link--line::after {
  height: 36px;
  width: 1px;
  background-color: #FA2449;
  right: 4px;
  top: 20px;
}
.header_main__img_phone {
  top: 5px;
}
.header_main__arrow_right {
  top: 3px;
}
.header_main__arrow_down {
  position: absolute;
  right: 25px;
  top: 25px;
}

@media (max-width: 1075px) {
  .header_main__inner {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1075px) {
  .header_main {
    position: static;
  }
  .header_main__logo {
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: white;
    padding: 15px 15px 0;
    height: 66px;
  }
  .header_main__logo:hover, .header_main__logo:focus {
    background-color: white;
  }
}
@media (min-width: 768px) and (max-width: 840px) {
  .header_main__items {
    font-size: 14px;
  }
  .header_main__link--phone {
    font-size: 18px;
    font-weight: bold;
  }
  .header_main__img_phone {
    top: 3px;
  }
  .header_main__img_arrow_right {
    top: 2px;
  }
}
@media (max-width: 767px) {
  .header_main__items {
    display: block;
  }
  .header_main__items::before, .header_main__items::after {
    display: table;
  }
  .header_main__item {
    border-bottom: 2px solid white;
  }
  .header_main__item.open {
    background-color: #f4f4f4;
  }
  .header_main__item:not(.open):hover .subitems {
    visibility: hidden;
    opacity: 0;
  }
  .header_main__item:first-child {
    margin-left: 0;
  }
  .header_main__item--last {
    margin-right: 0;
  }
  .header_main__link {
    border-bottom: 2px solid white;
  }
}
@media (max-width: 370px) {
  .header_main__toggle {
    margin-right: 5px;
  }
  .header_main__lens {
    right: 65px;
  }
}
.subitems {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px 0 15px;
  border: none;
  border-top: 1px solid #e0e0e0;
  border-radius: 0;
  box-shadow: none;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s;
}
.subitems__inner {
  max-width: 1170px;
}
.subitems__items {
  display: inline-block;
  padding: 0;
}
.subitems__item {
  list-style-type: none;
}
.subitems__link {
  display: block;
  padding: 10px;
  border: 1px solid #f4f4f4;
  text-decoration: none;
}
.subitems__link:hover, .subitems__link:focus {
  border-bottom: 1px solid #e0e0e0;
}
.subitems__link::before {
  content: "+";
  font-weight: bold;
  font-size: 19px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .subitems {
    background-color: #f4f4f4;
  }
  .subitems__items {
    display: block;
  }
  .subitems__link {
    border: 1px solid #f4f4f4;
  }
}
.bread {
  font-size: 14px;
  border-bottom: 1px solid #f4f4f4;
}
.bread__cont {
  max-width: 1170px;
  background-color: #FFF;
  margin: 0 auto;
  line-height: 40px;
}
.bread__item:not(:first-child)::before {
  content: "+";
  color: #FA2449;
}
.bread__link {
  text-decoration: none;
}

.print_btn {
  float: right;
  width: 40px;
  height: 40px;
  background: url("../img/print.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

.main__cont {
  max-width: 1170px;
}
.main__row {
  margin: 0 0 15px;
  position: relative;
}
.main__row--marg_zero {
  margin: 0;
}
.main__row--flex {
  display: flex;
}
.main__row--border_bot {
  overflow: hidden;
  border-bottom: 1px solid #f4f4f4;
}
.main__col {
  padding: 0;
}
.main__col--flex {
  display: flex;
}
.main__col--marg_bot {
  margin-bottom: 15px;
}
.main__col--pad_right {
  padding-right: 30px;
}
.main__h1 {
  color: #FA2449;
  font-size: 30px;
}
.main__h3 {
  color: #FA2449;
  font-size: 22px;
  margin: 5px 0 10px;
}
.main__social_fontello {
  float: right;
}
.main__archive {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .main__cont {
    padding: 0;
  }
  .main__row--flex {
    display: block;
  }
  .main__row--spacing {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main__col--flex {
    display: block;
  }
}
@media (max-width: 767px) {
  .main__col--pad_right {
    padding-right: 0;
  }
}
.owl__dots {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
.owl__dot {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
}
.owl__dot.active, .owl__dot:hover {
  background-color: white;
}

@media (max-width: 425px) {
  .owl__dots {
    bottom: 10px;
    left: 15px;
  }
}
.unit {
  color: #FFF;
  position: relative;
  overflow: hidden;
  display: block;
}
.unit:hover, .unit:focus {
  color: #FFF;
}
.unit__head {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}
.unit__head--mid {
  margin-top: 13%;
}
.unit__head--bottom {
  top: auto;
  bottom: 30px;
  margin: 0;
}
.unit__descr {
  position: absolute;
  left: 30px;
}
.unit__descr:hover {
  text-decoration: underline;
}
.unit__descr--bottom {
  bottom: 20px;
}
.unit--img_sklad_one {
  background: url("../img/unit_1.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit--img_sklad_two {
  background: url("../img/unit_2.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit--img_analit {
  background: url("../img/unit_4.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .unit--img_sklad_one {
    padding-bottom: 43%;
    background-position-y: bottom;
  }
  .unit--img_sklad_two {
    padding-bottom: 43%;
  }
}
@media (max-width: 425px) {
  .unit__head {
    font-size: 22px;
  }
  .unit__descr {
    font-size: 16px;
  }
}
.unit_lg {
  color: #FFF;
  position: relative;
  overflow: hidden;
}
.unit_lg__text_cont {
  position: absolute;
  top: 0;
  margin: 30px 25px;
}
.unit_lg__head {
  font-size: 33px;
  font-weight: bold;
  margin: 0 0 20px;
}
.unit_lg__descr {
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
}
.unit_lg__descr:hover, .unit_lg__descr:focus {
  color: #FFF;
  text-decoration: underline;
}
.unit_lg--img_one {
  background: url("../img/unit_lg.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}

@media (max-width: 767px) {
  .unit_lg__text_cont {
    margin: 15px;
  }
  .unit_lg__head {
    font-size: 22px;
  }
  .unit_lg__descr {
    font-size: 16px;
  }
}
.unit_left {
  background-color: #f4f4f4;
}
.unit_left__img {
  display: block;
  color: #FFF;
}
.unit_left__img:hover, .unit_left__img:focus {
  text-decoration: none;
  color: #FFF;
}
.unit_left__img--img_1 {
  background: url("../img/unit_3.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit_left__content {
  display: inline-block;
  width: 100%;
  padding: 15px;
  position: relative;
  max-height: 247px;
}
.unit_left__link {
  text-decoration: none;
}
.unit_left__head {
  display: inline-block;
}
.unit_left__p, .unit_top__p, .card__descr, .card__p {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .unit_left {
    margin-bottom: 15px;
  }
  .unit_left__img {
    width: 100%;
  }
  .unit_left__content {
    width: 100%;
  }
  .unit_left__content::before {
    top: -59px;
    left: 40px;
    border: 20px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid #f4f4f4;
  }
}
.unit_right {
  background-color: #f4f4f4;
}
.unit_right__img {
  display: block;
  color: #FFF;
}
.unit_right__img:hover, .unit_right__img:focus {
  text-decoration: none;
  color: #FFF;
}
.unit_right__img--img_1 {
  background: url("../img/unit_3.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit_right__content {
  display: inline-block;
  width: 100%;
  padding: 15px;
  position: relative;
  max-height: 247px;
}
.unit_right__content::before {
  z-index: 1;
}
.unit_right__link {
  text-decoration: none;
}
.unit_right__head {
  display: inline-block;
}
.unit_right__p {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .unit_right {
    margin-bottom: 15px;
  }
  .unit_right__img {
    width: 100%;
  }
  .unit_right__content {
    width: 100%;
  }
  .unit_right__content--top::before {
    top: -50px;
    left: 40px;
    right: initial;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #f4f4f4;
  }
  .unit_right__content--bottom::before {
    bottom: -50px;
    left: 40px;
    top: initial;
    width: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #f4f4f4;
  }
}
.unit_top {
  background-color: #f4f4f4;
  padding-bottom: 500px;
  margin-bottom: -500px;
}
.unit_top__img {
  display: block;
}
.unit_top__img--img_one {
  background: url("../img/unit_5.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit_top__img--img_two {
  background: url("../img/unit_6.png") center no-repeat;
  background-size: cover;
  padding-bottom: 40%;
}
.unit_top__link {
  text-decoration: none;
}
.unit_top__head {
  display: inline-block;
}
.unit_top__content {
  padding: 15px;
  position: relative;
  padding-bottom: 500px;
  margin-bottom: -485px;
}
.unit_top__content::after {
  display: none;
}
.unit_top__content--wide {
  background-color: #FFF;
  border-right: 1px solid #f4f4f4;
  text-align: justify;
}
.unit_top__content--wide:hover .unit_top__shadow {
  display: none;
}
.unit_top__content--wide::before {
  border-bottom-color: #FFF;
}
.unit_top__inner--wide {
  max-height: 105px;
  overflow: hidden;
  position: relative;
}
.unit_top__arrow {
  position: absolute;
  top: 0;
  right: 0;
  color: #00867c;
}
.unit_top__shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: -moz-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 1050px) {
  .unit_top__inner--wide {
    max-height: 127px;
  }
}
@media (max-width: 991px) {
  .unit_top__content {
    margin-bottom: -469px;
    border-left: none;
  }
  .unit_top__content::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 500px;
    left: 0px;
    height: 15px;
    background-color: #FFF;
    margin-bottom: -31px;
    width: 100%;
  }
  .unit_top__content--wide {
    margin-bottom: -485px;
    border-right: none;
  }
  .unit_top__inner--wide {
    max-height: initial;
  }
  .unit_top__shadow {
    display: none;
  }
}
.last_news {
  background-color: #f4f4f4;
  padding: 15px 25px;
  position: relative;
  border-right: 1px solid #e0e0e0;
  width: 100%;
}
.last_news__more {
  position: absolute;
  top: 24px;
  right: 25px;
  text-decoration: none;
}
.last_news__date {
  float: left;
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
}
.last_news__descr {
  margin-left: 100px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  text-decoration: none;
}
.last_news__descr:hover, .last_news__descr:focus {
  text-decoration: underline;
}
.last_news__descr:last-child {
  border-bottom: none;
}

@media (max-width: 991px) {
  .last_news {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }
}
@media (max-width: 425px) {
  .last_news__more {
    display: none;
  }
  .last_news__date {
    float: none;
    padding: 15px 0 0;
  }
  .last_news__descr {
    margin-left: 0;
  }
}
.social__item {
  display: inline-block;
  margin-right: 15px;
  width: 62px;
  height: 62px;
  background-size: cover;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item:nth-child(1) {
  background-image: url("../img/social.png");
}
.social__item:nth-child(2) {
  background-image: url("../img/social.png");
  background-position: 62px 0;
}
.social__item--sm {
  width: 37px;
  height: 37px;
  margin-right: 12px;
}
.social__item--sm:last-child {
  margin-right: 0;
  background-position: 37px 0;
}
.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.social_fontello {
  font-family: "fontello";
  font-size: 18px;
}
.social_fontello__fb {
  margin-left: 10px;
  color: #e0e0e0;
}
.social_fontello__fb:hover, .social_fontello__fb:focus {
  text-decoration: none;
  color: #3b5998;
}
.social_fontello__vk {
  margin-left: 10px;
  color: #e0e0e0;
}
.social_fontello__vk:hover, .social_fontello__vk:focus {
  text-decoration: none;
  color: #45668e;
}

.hello {
  display: flex;
}
.hello__head_cont {
  display: flex;
  align-items: center;
  border: 1px solid #f4f4f4;
  border-right: none;
  padding: 20px;
}
.hello__head {
  margin: 0;
  color: #00867C;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.hello__descr_cont {
  position: relative;
  background-color: #f4f4f4;
  padding: 40px 20px;
  text-align: justify;
}

@media (max-width: 991px) {
  .hello {
    display: block;
  }
  .hello__head_cont {
    border: none;
    border-top: 1px solid #f4f4f4;
    justify-content: center;
  }
  .hello__descr_cont::before {
    border: none;
  }
}
@media (max-width: 767px) {
  .hello__head {
    font-size: 22px;
  }
  .hello__descr_cont {
    padding: 20px;
  }
}
.social_block {
  background-color: #f4f4f4;
  padding: 15px 25px;
  width: 100%;
}
.social_block__social {
  margin: 15px 0;
}

@media (max-width: 991px) {
  .social_block {
    text-align: center;
  }
}
.footer {
  background-color: #f4f4f4;
  height: 130px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer__cont {
  max-width: 1170px;
}
.footer__item {
  display: inline-block;
  line-height: 90px;
}
.footer__item::before {
  content: "";
  border-left: 1px solid #424242;
  margin: 0 15px;
}
.footer__link {
  text-decoration: none;
}
.footer__link:hover, .footer__link:focus {
  color: #424242;
  text-decoration: underline;
}
.footer__copyright {
  display: inline-block;
  line-height: 90px;
  float: left;
  margin-left: 33px;
}
.footer__social {
  float: right;
  margin: 25px 0;
}
.footer__webcenter {
  display: block;
  margin-left: 33px;
  font-size: 14px;
}
.footer__webcenter_link {
  text-decoration: none;
}
.footer__webcenter_link:hover, .footer__webcenter_link:focus {
  border-bottom: 1px dashed #e96259;
  color: #e96259;
}

@media (max-width: 920px) {
  .footer {
    text-align: center;
    height: 205px;
  }
  .footer__items {
    display: block;
    margin-bottom: 10px;
  }
  .footer__item {
    line-height: 50px;
  }
  .footer__item:first-child::before {
    border: none;
    margin: 0;
  }
  .footer__copyright {
    float: none;
    margin-left: 0;
    margin-bottom: 15px;
    line-height: 1.42857143;
  }
  .footer__social {
    float: none;
    margin: 20px 0 0;
  }
  .footer__webcenter {
    margin: 0;
  }
}
@media (max-width: 570px) {
  .footer {
    font-size: 12px;
  }
  .footer__item::before {
    margin: 0 5px;
  }
  .footer__webcenter {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .footer {
    height: 240px;
  }
  .footer__items {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 0;
  }
  .footer__item {
    line-height: 35px;
    width: 50%;
    font-size: 12px;
  }
  .footer__item::before {
    margin: 0;
    border: none;
  }
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.popup__play {
  background: url("../img/play.png") center no-repeat;
  width: 125px;
  height: 125px;
  display: inline-block;
}
.popup__play:hover {
  background: url("../img/play_hover.png") center no-repeat;
}
.popup__fog.mfp-bg {
  opacity: 0;
  transition: all 0.1s ease-out;
}
.popup__fog.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.popup__fog.mfp-bg.mfp-removing {
  opacity: 0;
}
.popup__fog.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.5s ease-out;
}
.popup__fog.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.popup__fog.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.modal__cont {
  overflow: hidden;
}
.modal__header {
  background-color: #FA2449;
  color: #FFF;
}
.modal__footer {
  background-color: #f4f4f4;
}

.input:focus {
  border-color: #8f8f8f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #8f8f8f;
}

.checkbox_custom {
  display: none;
}
.checkbox_custom:checked + .checkbox_custom__label::before {
  content: "\2713";
}
.checkbox_custom__head {
  font-weight: bold;
  font-size: 17px;
  margin: 10px 0;
}
.checkbox_custom__label {
  position: relative;
  display: block;
  font-weight: normal;
  padding: 4px 15px 4px 28px;
  margin-bottom: 0;
  cursor: pointer;
}
.checkbox_custom__label::before {
  width: 18px;
  height: 18px;
  top: 6px;
  left: 0;
  background-color: #FFF;
  color: #FA2449;
  font-size: 22px;
  line-height: 17px;
}

.button {
  background-color: #FA2449;
  color: #FFF;
  border-radius: 0;
  transition: .15s ease all;
}
.button:hover, .button:focus {
  color: #FFF;
  outline: none;
  box-shadow: 0 0 8px #5c5c5c;
  background-color: #e6052c;
}
.button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button--wide {
  width: 100%;
}

.card {
  padding: 0 10px 30px;
  float: left;
}
.card:nth-child(3n+1) {
  padding: 0 20px 30px 0;
  clear: both;
}
.card:nth-child(3n+3) {
  padding: 0 0 30px 20px;
}
.card__img {
  display: block;
  position: relative;
}
.card__img--img_one {
  background: url("../img/unit_5.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.card__img_link {
  position: absolute;
  height: 100%;
  width: 100%;
}
.card__shortlist, .card__compare {
  display: inline-block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 15px;
  transition: 1s ease all;
}
.card__shortlist:hover, .card__compare:hover {
  transition: 1s ease all;
  cursor: default;
  background: url("../img/card_icon_active.png") no-repeat;
}
.card__shortlist {
  background: url("../img/card_icon.png") -33px 0 no-repeat;
  right: 15px;
}
.card__shortlist:hover {
  background-position: -33px 0;
}
.card__shortlist--selected {
  background: url("../img/card_icon_active.png") no-repeat;
  background-position: -33px 0;
}
.card__compare {
  background: url("../img/card_icon.png") no-repeat;
  right: 60px;
}
.card__compare--selected {
  background: url("../img/card_icon_active.png") no-repeat;
}
.card__content {
  padding: 15px 20px 20px;
  position: relative;
  background-color: #f4f4f4;
}
.card__link {
  color: #FA2449;
  text-decoration: none;
}
.card__descr {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 15px;
}
.card__more {
  color: #FA2449;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin-top: 15px;
}
.card__more:hover, .card__more:focus {
  color: #FA2449;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .card:nth-child(2n+1) {
    padding: 0 15px 30px 0;
    clear: both;
  }
  .card:nth-child(2n+2) {
    padding: 0 0 30px 15px;
    clear: initial;
  }
}
@media (max-width: 767px) {
  .card:nth-child(n) {
    padding: 0 0 30px;
    float: none;
  }
}
.cards {
  display: none;
}

.map__outer {
  height: 450px;
}
.map__cont {
  width: 100%;
  height: 100%;
}
.map__close {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #424242;
  color: #FFF;
  font-size: 25px;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
  opacity: .8;
  display: none;
}
.map__close:hover, .map__close:focus {
  opacity: 1;
}
.map__header {
  color: #FA2449;
  font-size: 26px;
  line-height: 30px;
}
.map__descr {
  color: #424242;
  font-size: 15px;
  font-weight: bold;
}

.sort {
  text-align: right;
}
.sort__label {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .sort {
    text-align: left;
  }
}
.shortlist {
  color: #FA2449;
  float: right;
  margin-top: 30px;
}
.shortlist__star {
  padding-right: 5px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .shortlist {
    margin-top: 5px;
  }
}
.main_topic {
  background-color: #FA2449;
  padding: 20px;
  margin-bottom: 35px;
  position: relative;
  color: #FFF;
}
.main_topic::before {
  border-top-color: #FA2449;
}
.main_topic__input {
  height: 45px;
}
.main_topic__btn_cont {
  padding: 0;
  background-color: #C1012E;
  border: none;
}
.main_topic__btn_cont:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #8f8f8f;
}
.main_topic__btn {
  height: 40px;
  border: none;
  background: none;
  color: #FFF;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.main_topic__btn:hover, .main_topic__btn:focus {
  outline: none;
}
.main_topic__link {
  display: inline-block;
  padding: 11px;
  color: #FFF;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
}
.main_topic__link:hover, .main_topic__link:focus {
  color: #FFF;
}
.main_topic__link:first-child {
  margin-left: 0;
}
.main_topic__link--active {
  background-color: #C1012E;
}
.main_topic__link_icon {
  padding-right: 10px;
}
.main_topic__p {
  margin: 0;
}
.main_topic--text_right {
  text-align: right;
}

@media (max-width: 767px) {
  .main_topic__link {
    margin-top: 20px;
  }
  .main_topic--text_right {
    text-align: left;
  }
}
@media (max-width: 425px) {
  .main_topic__link {
    display: block;
    margin-left: 0;
  }
  .main_topic__link:last-child {
    margin-top: 10px;
  }
}
.filter {
  background-color: #f4f4f4;
  position: relative;
}
.filter__header_cont {
  padding: 10px;
  cursor: pointer;
}
.filter__header {
  font-size: 26px;
  color: #FA2449;
  margin: 0 0 5px 15px;
  display: inline-block;
  line-height: 48px;
}
.filter__buttons {
  margin: 0 0 0 50px;
  display: none;
}
.filter__apply {
  margin-right: 5px;
  margin-bottom: 3px;
}
.filter__reset {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
}
.filter__reset:hover, .filter__reset:active {
  color: #424242;
  text-decoration: underline;
}
.filter__arrow {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: 0 40px;
  line-height: 72px;
  text-decoration: none;
}
.filter__arrow:hover, .filter__arrow:focus {
  color: #424242;
}
.filter__arrow_icon {
  color: #FA2449;
  top: 3px;
  left: 8px;
}
.filter__body_cont {
  padding: 20px;
  border-top: 1px solid #e0e0e0;
  display: none;
}
.filter__body_inner {
  border-left: 1px solid #e0e0e0;
  margin-left: 15px;
  padding-left: 15px;
}
.filter__body_inner:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

@media (max-width: 767px) {
  .filter__header_cont {
    text-align: center;
    padding-bottom: 0;
  }
  .filter__buttons {
    display: block;
    margin: 15px 0 0;
  }
  .filter__arrow {
    position: static;
    display: block;
  }
  .filter__body_inner {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .filter__body_inner:nth-child(2) {
    border-left: 1px solid #e0e0e0;
    margin-left: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 520px) {
  .filter__body_inner {
    width: 100%;
  }
  .filter__body_inner:nth-child(2) {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}
.ul {
  list-style-type: none;
  padding-left: 30px;
}
.ul__item::before {
  content: "+";
  position: relative;
  left: -10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #FA2449;
}

.archive {
  padding-right: 30px;
}
.archive__topic {
  margin-bottom: 0;
  padding-left: 30px;
}
.archive__topic::before {
  bottom: -14px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-top-width: 15px;
}
.archive__head {
  font-size: 22px;
  margin: 0;
}
.archive__body {
  padding: 30px 30px 20px;
  background-color: #f4f4f4;
}
.archive__list {
  padding-left: 0;
}
.archive__item {
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  padding: 3px 3px 3px 10px;
}
.archive__item:hover::before, .archive__item:focus::before {
  color: #FA2449;
}
.archive__item:hover .archive__link, .archive__item:focus .archive__link {
  color: #FA2449;
}
.archive__item:last-child {
  border: none;
}
.archive__item::before {
  color: #424242;
}
.archive__link {
  text-decoration: none;
}

@media (max-width: 767px) {
  .archive {
    padding-right: 0;
  }
}
.news_cont__pag {
  text-align: center;
  margin-top: 30px;
}

.news_pre {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 20px 20px 0;
}
.news_pre:first-child {
  padding-top: 0;
}
.news_pre:nth-child(even) {
  background-color: #f4f4f4;
}
.news_pre__img_cont {
  display: block;
  float: left;
  width: 30%;
  margin-right: 3%;
}
.news_pre__img {
  max-width: 100%;
  max-height: 300px;
}
.news_pre__body {
  margin-left: 33%;
}
.news_pre__link {
  text-decoration: none;
}
.news_pre__head {
  margin-top: 0;
  display: inline-block;
}
.news_pre__date {
  font-weight: bold;
}
.news_pre__descr {
  margin: 0;
  text-align: justify;
}
.news_pre::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 991px) {
  .news_pre__img_cont {
    width: 35%;
  }
  .news_pre__body {
    margin-left: 38%;
  }
}
@media (max-width: 767px) {
  .news_pre {
    padding-top: 20px;
    padding-left: 20px;
  }
  .news_pre:first-child {
    padding-top: 20px;
  }
}
@media (max-width: 425px) {
  .news_pre {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .news_pre__img_cont {
    float: none;
    width: 100%;
    text-align: center;
  }
  .news_pre__body {
    margin-left: 0;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.news_item__date {
  margin-top: 20px;
  color: #757575;
}
.news_item__body {
  margin: 20px 20% 0;
  text-align: justify;
}
.news_item__img {
  padding: 10px 0;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news_item__body {
    margin-left: 0;
    margin-right: 0;
  }
}
.pag {
  padding-left: 0;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}
.pag__item {
  display: block;
  float: left;
}
.pag__item:first-child .pag__link {
  border-left: none;
}
.pag__link {
  display: inline-block;
  padding: 6px 12px;
  border-left: 1px solid #e0e0e0;
  text-decoration: none;
}
.pag__link:hover, .pag__link:focus {
  color: #424242;
  background-color: #f4f4f4;
}
.pag__link--active {
  background-color: #FA2449;
  color: #FFF;
}
.pag__link--active:hover, .pag__link--active:focus {
  background-color: #FA2449;
  color: #FFF;
  cursor: default;
}
.pag__link--disabled {
  color: #e0e0e0;
  cursor: default;
}
.pag__link--disabled:hover, .pag__link--disabled:focus {
  color: #e0e0e0;
  cursor: default;
  background-color: #FFF;
}

.compare__head {
  margin: 0;
}
.compare__head::before {
  display: none;
}
.compare__clear {
  text-align: right;
}
.compare__param {
  display: none;
  padding: 20px;
  background-color: #f4f4f4;
  color: #424242;
  border-top: 1px solid #e0e0e0;
}
.compare__inner {
  border-left: 1px solid #e0e0e0;
  margin-left: 15px;
  padding-left: 15px;
}
.compare__inner:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
.compare__body {
  white-space: nowrap;
  overflow-x: auto;
}
.compare__body td:first-child {
  font-weight: bold;
}
.compare__del {
  text-decoration: none;
}

@media (max-width: 991px) {
  .compare__clear {
    text-align: left;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .compare__head {
    padding-top: 1px;
  }
  .compare__clear {
    margin-top: 0;
  }
  .compare__inner {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}
.simple_block {
  background-color: #f4f4f4;
  padding: 15px 25px;
}

@media print {
  @page {
    margin: 1.5cm;
  }
  * {
    color: black;
    background-color: white;
  }

  .header,
  .shortlist,
  .main_topic,
  .filter,
  .map__outer,
  .social,
  .social_block,
  .footer__items,
  .sort,
  .card__img,
  .card__content::before,
  .card__more,
  .button,
  .archive,
  .pag {
    display: none;
  }

  .card,
  .news_pre {
    page-break-inside: avoid;
  }

  .card__descr {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .news_pre {
    border: 0;
  }
}
