@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.header_main__link--phone::before, .header_main__link--phone::after, .header_main__link--contacts::after {
  content: "";
  display: inline-block;
  position: absolute;
}

body {
  font-family: SegoeUIRegular, Arial, sans-serif;
  color: #424242;
  font-size: 16px;
}

.header_top {
  font-size: 14px;
  background-color: #D82949;
  height: 65px;
  text-align: right;
}
.header_top__cont {
  line-height: 35px;
  height: 100%;
  padding: 12px 15px;
  max-width: 1170px;
}
.header_top__href {
  margin-right: 30px;
  color: #FFF;
  text-decoration: none;
}
.header_top__href:hover {
  color: #FFF;
  text-decoration: none;
}
.header_top__search {
  display: inline-block;
  text-align: center;
  background: #C1012E;
  width: 130px;
  height: 40px;
  color: #FFF;
  text-decoration: none;
}
.header_top__search:hover {
  color: #FFF;
  text-decoration: none;
}

.header_main {
  min-height: 75px;
  background: white;
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ECEEF0;
}
.header_main__cont {
  max-width: 1170px;
}
.header_main__toggle {
  margin-top: 32px;
}
.header_main__logo {
  margin-right: 0;
}
.header_main__items_cont {
  padding: 0;
}
.header_main__items {
  margin: 0;
}
.header_main__item {
  margin: 0;
}
.header_main__link {
  color: #D82949;
  line-height: 43px;
}
.header_main__link--phone {
  font-size: 23px;
  margin-left: 21px;
}
.header_main__link--phone::before {
  height: 21px;
  width: 21px;
  background: url("../img/phone.png") no-repeat;
  top: 28px;
  left: -10px;
}
.header_main__link--phone::after {
  height: 36px;
  width: 1px;
  background-color: #D82949;
  right: 4px;
  top: 20px;
}
.header_main__link--contacts::after {
  height: 11px;
  width: 8px;
  background: url("../img/arrow.png") no-repeat;
  left: 91px;
  top: 45%;
}

@media (min-width: 1172px) {
  .header_main__logo {
    margin-right: 50px;
  }
  .header_main__item {
    margin: 0 11px;
  }
  .header_main__item--last {
    margin-right: 0;
  }
}
