@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.header_main__link--phone::after, .unit_left__content::before, .unit_top__content::before, .hello__descr_cont::before {
  content: "";
  display: inline-block;
  position: absolute;
}

.social, .footer__items {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.unit_left::after {
  content: "";
  display: table;
  clear: both;
}

.unit_top__content::before {
  top: -59px;
  left: 40px;
  border: 20px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid #F7F3E8;
}

.unit_left__content::before, .hello__descr_cont::before {
  top: 25px;
  left: -60px;
  border: 20px solid transparent;
  border-left: 30px solid transparent;
  border-right: 30px solid #F7F3E8;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: SegoeUIRegular, Arial, sans-serif;
  color: #424242;
  font-size: 16px;
  margin-bottom: 90px;
}

header {
  position: relative;
  border-bottom: 1px solid #D3D3D3;
}

@media (max-width: 920px) {
  body {
    margin-bottom: 165px;
  }
}
.header_top {
  font-size: 14px;
  background-color: #D82949;
  height: 65px;
  text-align: right;
}
.header_top__cont {
  line-height: 35px;
  height: 100%;
  padding: 12px 15px;
  max-width: 1170px;
}
.header_top__href {
  margin-right: 30px;
  color: #FFF;
  text-decoration: none;
}
.header_top__href:hover {
  color: #FFF;
  text-decoration: none;
}
.header_top__search {
  display: inline-block;
  text-align: center;
  background: #C1012E;
  width: 130px;
  height: 40px;
  color: #FFF;
  text-decoration: none;
}
.header_top__search:hover {
  color: #FFF;
  text-decoration: none;
}
.header_top__lens {
  font-size: 11px;
}

@media (max-width: 767px) {
  .header_top {
    display: none;
  }
}
.header_main {
  min-height: 75px;
  background: white;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 0;
}
.header_main__cont {
  max-width: 1170px;
}
.header_main__toggle {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.header_main__search {
  position: absolute;
  top: 1px;
  left: -50px;
  font-size: 30px;
  color: #D82949;
}
.header_main__outer_cont {
  padding: 0;
}
.header_main__inner_cont {
  margin-left: 235px;
}
.header_main__items {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}
.header_main__items::before, .header_main__items::after {
  display: none;
}
.header_main__items li {
  position: static;
}
.header_main__item {
  position: static;
}
.header_main__item:first-child {
  margin-left: -15px;
}
.header_main__item--last {
  margin-right: -15px;
}
.header_main__link {
  color: #D82949;
  line-height: 43px;
  cursor: pointer;
}
.header_main__link:hover {
  border-bottom: 2px solid #D82949;
}
.header_main__link--phone {
  font-size: 23px;
}
.header_main__link--phone::after {
  height: 36px;
  width: 1px;
  background-color: #D82949;
  right: 4px;
  top: 20px;
}
.header_main__subitems_cont {
  width: 100%;
  background-color: #F7F3E8;
  padding: 10px 0;
  border: none;
  border-top: 1px solid #D3D3D3;
  border-radius: 0;
  box-shadow: none;
}
.header_main__subitems_inner {
  max-width: 1170px;
}
.header_main__subitems {
  display: inline-block;
  padding: 0;
}
.header_main__subitem {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #F7F3E8;
}
.header_main__subitem:hover {
  color: #D82949;
  border-bottom: 1px solid #D3D3D3;
}
.header_main__subitem::before {
  content: "+";
  font-weight: bold;
  font-size: 19px;
  margin-right: 5px;
}
.header_main__img_phone {
  top: 5px;
}
.header_main__img_arrow {
  top: 3px;
}

@media (max-width: 1060px) {
  .header_main__inner_cont {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1060px) {
  .header_main {
    position: static;
  }
  .header_main__logo {
    position: absolute;
    top: 0px;
    left: 15px;
    background-color: white;
    padding: 8px;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 824px) {
  .header_main__items {
    font-size: 14px;
  }
  .header_main__link--phone {
    font-size: 18px;
  }
  .header_main__img_phone {
    top: 3px;
  }
  .header_main__img_arrow {
    top: 2px;
  }
}
@media (max-width: 767px) {
  .header_main__items {
    display: block;
  }
  .header_main__items::before, .header_main__items::after {
    display: table;
  }
  .header_main__item {
    border-bottom: 2px solid white;
  }
  .header_main__item.open {
    background-color: #F7F3E8;
  }
  .header_main__item:first-child {
    margin-left: 0;
  }
  .header_main__item--last {
    margin-right: 0;
  }
  .header_main__link {
    border-bottom: 2px solid white;
  }
  .header_main__subitems_cont {
    background-color: #F7F3E8;
  }
  .header_main__subitems {
    display: block;
  }
  .header_main__subitem {
    border: 1px solid #F7F3E8;
  }
}
@media (max-width: 330px) {
  .header_main__toggle {
    margin-right: 5px;
  }
}
.main__cont {
  max-width: 1170px;
}
.main__row {
  margin: 0 0 15px;
}
.main__row--marg_zero {
  margin: 0;
}
.main__row--flex {
  display: flex;
}
.main__col {
  padding: 0;
}
.main__col--flex {
  display: flex;
}

@media (max-width: 991px) {
  .main__cont {
    padding: 0;
  }
  .main__row--flex {
    display: block;
  }
  .main__col--flex {
    display: block;
  }
}
.owl__dots {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
.owl__dot {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  margin-right: 7px;
  cursor: pointer;
}
.owl__dot.active, .owl__dot:hover {
  background-color: white;
}

@media (max-width: 419px) {
  .owl__dots {
    bottom: 10px;
    left: 15px;
  }
}
.unit {
  color: #FFF;
  position: relative;
  overflow: hidden;
}
.unit__head {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}
.unit__head--mid {
  margin-top: 13%;
}
.unit__head--bottom {
  top: auto;
  bottom: 30px;
  margin: 0;
}
.unit__descr {
  position: absolute;
  left: 30px;
}
.unit__descr--bottom {
  bottom: 20px;
}
.unit--img_analit {
  background: url("../img/unit_4.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit--img_sklad_one {
  background: url("../img/unit_1.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit--img_sklad_two {
  background: url("../img/unit_2.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}

@media (max-width: 425px) {
  .unit__head {
    font-size: 22px;
  }
  .unit__descr {
    font-size: 16px;
  }
}
.unit_lg {
  color: #FFF;
  position: relative;
  overflow: hidden;
}
.unit_lg__text_cont {
  position: absolute;
  top: 0;
  margin: 30px 25px;
}
.unit_lg__head {
  font-size: 33px;
  font-weight: bold;
  margin: 0 0 20px;
}
.unit_lg__descr {
  font-size: 18px;
}
.unit_lg--img_one {
  background: url("../img/unit_lg.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}

@media (max-width: 767px) {
  .unit_lg__text_cont {
    margin: 15px;
  }
  .unit_lg__head {
    font-size: 22px;
  }
  .unit_lg__descr {
    font-size: 16px;
  }
}
.unit_left {
  background-color: #F7F3E8;
}
.unit_left__img--img_1 {
  background: url("../img/unit_3.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit_left__content {
  display: inline-block;
  width: 100%;
  padding: 15px;
  position: relative;
  max-height: 247px;
}
.unit_left__head, .unit_top__head, .last_news__head, .social_block__head {
  color: #D82949;
  font-size: 22px;
  margin: 5px 0 10px;
}
.unit_left__p, .unit_top__p {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .unit_left {
    margin-bottom: 15px;
  }
  .unit_left__img {
    width: 100%;
  }
  .unit_left__content {
    width: 100%;
  }
  .unit_left__content::before {
    top: -59px;
    left: 40px;
    border: 20px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid #F7F3E8;
  }
}
.unit_top {
  display: flex;
  flex-direction: column;
  position: relative;
}
.unit_top__img--img_one {
  background: url("../img/unit_5.png") center no-repeat;
  background-size: cover;
  padding-bottom: 65%;
}
.unit_top__img--img_two {
  background: url("../img/unit_6.png") center no-repeat;
  background-size: cover;
  padding-bottom: 40%;
}
.unit_top__content {
  background-color: #F7F3E8;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
}
.unit_top__content--wide {
  background-color: #FFF;
  border: 1px solid #D3D3D3;
  border-top: none;
  text-align: justify;
}
.unit_top__content--wide::before {
  border-bottom-color: #FFF;
}
.unit_top__arrow {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #00867c;
}

@media (max-width: 991px) {
  .unit_top {
    margin-bottom: 15px;
  }
}
.last_news {
  background-color: #F7F3E8;
  padding: 15px 25px;
  position: relative;
  border-right: 1px solid #D3D3D3;
  width: 100%;
}
.last_news__more {
  position: absolute;
  top: 24px;
  right: 25px;
  display: inline-block;
}
.last_news__date {
  float: left;
  padding: 10px 0;
  display: inline-block;
  font-weight: bold;
}
.last_news__descr_cont {
  margin-left: 100px;
  border-bottom: 1px solid #D3D3D3;
}
.last_news__descr_cont:last-child {
  border-bottom: none;
}
.last_news__descr {
  margin: 0;
  padding: 10px 0;
}

@media (max-width: 991px) {
  .last_news {
    border-right: none;
    border-bottom: 1px solid #D3D3D3;
  }
}
@media (max-width: 419px) {
  .last_news__more {
    display: none;
  }
  .last_news__date {
    float: none;
    padding: 15px 0 0;
  }
  .last_news__descr_cont {
    margin-left: 0;
  }
}
.social__item {
  display: inline-block;
  margin-right: 15px;
  width: 62px;
  height: 62px;
  background-size: cover;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item:nth-child(1) {
  background-image: url("../img/social_fb.png");
}
.social__item:nth-child(2) {
  background-image: url("../img/social_insta.png");
}
.social__item--sm {
  width: 37px;
  height: 37px;
  margin-right: 12px;
}
.social__item--sm:last-child {
  margin-right: 0;
}
.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.hello {
  display: flex;
}
.hello__head_cont {
  display: flex;
  align-items: center;
  border: 1px solid #D3D3D3;
  border-right: none;
  padding: 20px;
}
.hello__head {
  margin: 0;
  color: #00867C;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.hello__descr_cont {
  position: relative;
  background-color: #F7F3E8;
  padding: 40px 20px;
  text-align: justify;
}

@media (max-width: 991px) {
  .hello {
    display: block;
  }
  .hello__head_cont {
    border-right: 1px solid #D3D3D3;
    border-bottom: none;
    justify-content: center;
  }
  .hello__descr_cont::before {
    border: none;
  }
}
@media (max-width: 767px) {
  .hello__head {
    font-size: 22px;
  }
  .hello__descr_cont {
    padding: 20px;
  }
}
.social_block {
  background-color: #F7F3E8;
  padding: 15px 25px;
  width: 100%;
}
.social_block__social {
  margin: 15px 0;
}

@media (max-width: 991px) {
  .social_block {
    text-align: center;
  }
}
.footer {
  background-color: #F7F3E8;
  height: 90px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer__cont {
  max-width: 1170px;
}
.footer__item {
  display: inline-block;
  line-height: 90px;
}
.footer__item::before {
  content: "";
  border-left: 1px solid #424242;
  margin: 0 15px;
}
.footer__link {
  color: #424242;
}
.footer__link:hover, .footer__link:focus {
  color: #424242;
}
.footer__copyright {
  display: inline-block;
  line-height: 90px;
  float: left;
  margin-left: 33px;
}
.footer__social {
  float: right;
  margin: 25px 0;
}

@media (max-width: 920px) {
  .footer {
    text-align: center;
    height: 165px;
  }
  .footer__items {
    display: block;
    margin-bottom: 10px;
  }
  .footer__item {
    line-height: 50px;
  }
  .footer__item:first-child::before {
    border: none;
    margin: 0;
  }
  .footer__copyright {
    float: none;
    margin-left: 0;
    line-height: 1.42857143;
  }
  .footer__social {
    float: none;
    margin: 20px 0 0;
  }
}
@media (max-width: 550px) {
  .footer {
    font-size: 12px;
  }
  .footer__item::before {
    margin: 0 5px;
  }
}
@media (max-width: 419px) {
  .footer__item:nth-child(1), .footer__item:nth-child(2) {
    display: none;
  }
  .footer__item:nth-child(3)::before {
    display: none;
  }
}
