html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $main_font;
	color: $color_dark;
	font-size: $fs_standart;
	margin-bottom: 90px;
}

header {
	position: relative;
	border-bottom: 1px solid $color_hr;
}

a {
	color: $color_dark;

	&:hover,
	&:focus {
		color: $color_dark;
		outline: none;
	}
}

@media (max-width: 920px) {
	body {
		margin-bottom: 165px;
	}
}