html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $main_font;
	color: $color_dark;
	font-size: $fs_standart;
	margin-bottom: 90px;
}

@media (max-width: 920px) {
	body {
		margin-bottom: 165px;
	}
}