html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $main_font;
	color: $color_dark;
	font-size: $fs_standart;
	margin-bottom: 160px;
}

header {
	position: relative;
	border-bottom: 1px solid $color_footer;
}

a {
	color: $color_dark;

	&:hover,
	&:focus {
		color: $color_dark;
		outline: none;
	}
}

::selection {
	background-color: darken($color_hr, 5%);
}

@media (max-width: 920px) {
	body {
		margin-bottom: 235px;
	}
}

@media (max-width: 419px) {
	body {
		margin-bottom: 270px;
	}
}