body {
	font-family: $main_font;
	color: $color_dark;
	font-size: $fs_standart;
}

a {
	color: $color_bright;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $color_bright;
		text-decoration: none;
	}
}