@media print {
	@page {
		margin: 1.5cm;
	}

	* {
		color: black;
		background-color: white;
	}

	.header,
	.short_cont,
	.interest,
	.back,
	.main_topic,
	.filter,
	.map__outer,
	.social,
	.social_block,
	.footer__items,
	.sort,
	.card__img,
	.card__content::before,
	.card__more,
	.button,
	.archive,
	.pag,
	.recall__arrow,
	.recall__triangle,
	.advert::after {
		display: none;
	}

	.card,
	.news_pre {
		page-break-inside: avoid;
	}

	.card__descr {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.news_pre {
		border: 0;
	}

	.recall__body {
		border: none;
	}

}