// COLORS //
$color_header: #FA2449;
$color_header_darken: #C1012E;
$color_footer: #f4f4f4;
$color_dark: #424242;
$color_bright: #FFF;
$color_hr: #e0e0e0;

$main_font: "SegoeUIRegular", Arial, sans-serif;

// FONT SIZE //
$fs_smaller:     14px;	//Маленький размер (верхнее меню)
$fs_standart:    16px;	//Размер по умолчанию
$fs_bigger:      18px;	//Размер побольше
$fs_head:        22px;	//Обычные заголовки
$fs_head_bigger: 26px;	//Заголовки побольше
$fs_head_lg:     30px;	//Большие заголовки
$fs_head_xl:     33px;	//Очень большие заголовки

$width_global: 1170px; //Ширина контейнера

// Брейкпоинты //
$bp_md_min: 992px;
$bp_md_max: 991px;
$bp_sm_min: 768px;
$bp_sm_max: 767px;
$bp_xs_max: 425px;

// Стандартная настройка для псевдоэлементов //
%pseudoelem_param {
	content: "";
	display: inline-block;
	position: absolute;
}

// Создание строчного списка //
%inline_ul{
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

%clearfix {
	content: "";
	display: table;
	clear: both;
}

// Треугольники //
%triangle_top {
	top: -29px;
	left: 40px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 30px solid $color_footer;
}
%triangle_bottom {
	bottom: -29px;
	left: 40px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid $color_footer;
}

%triangle_left {
	top: 25px;
	left: -30px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 30px solid $color_footer;
}
// ============ //