@import "_fonts.scss"; //Шрифты
@import "_variables.scss"; //Переменные
@import "_global.scss"; //Общие параметры

@import "blocks/_header.scss"; //Шапка сайта
@import "blocks/_search.scss"; //Верхний поиск
@import "blocks/_header_top.scss"; //Верхняя шапка
	@import "blocks/_header_main/_header_main.scss"; //Главная шапка
	@import "blocks/_header_main/_subitems.scss"; //Подменю главной шапки
@import "blocks/_bread.scss"; //Хлебные крошки
@import "blocks/_print_btn.scss"; //Кнопка печати
@import "blocks/_main.scss"; //Контент
@import "blocks/_owl.scss"; //Слайдер большого блока
@import "blocks/_unit.scss"; //Обычный блок
@import "blocks/_unit_lg.scss"; //Большой блок
@import "blocks/_unit_left.scss"; //Двойной блок, картинка слева
@import "blocks/_unit_right.scss"; //Двойной блок, картинка справа
@import "blocks/_unit_top.scss"; //Двойной блок, картинка сверху
@import "blocks/_last_news.scss"; //Последние новости
@import "blocks/_social.scss"; //Социальные иконки
@import "blocks/_social_fontello.scss"; //Социальные иконки Fontello
@import "blocks/_hello.scss"; //Блок приветствия
@import "blocks/_social_block.scss"; //Блок социальных иконок
@import "blocks/_footer.scss"; //Подвал сайта
@import "blocks/_popup.scss"; //Затемнение с кнопкой "play" (плагин Magnific Popup)
@import "blocks/_modal.scss"; //Стандартные настройки для модального окна бутстрапа
@import "blocks/_input.scss"; //Стандартное поле ввода
@import "blocks/_checkbox_custom.scss"; //Стандартная стилизация чекбокса
@import "blocks/_button.scss"; //Стандартная кнопка
@import "blocks/_card.scss"; //Карточка объекта (дубликат unit_top)
@import "blocks/_cards.scss"; //Общий контейнер для карточек
@import "blocks/_map.scss"; //Карта со списком объектов
@import "blocks/_sort.scss"; //Форма сортировки
@import "blocks/_shortlist.scss"; //Кнопка "Избранное"
@import "blocks/_main_topic.scss"; //Основной контейнер-заголовок
@import "blocks/_filter.scss"; //Главный фильтр
@import "blocks/_archive.scss"; //Блок "Архив новостей"
@import "blocks/_news_cont.scss"; //Контейнер для всех превью новостей
@import "blocks/_news_pre.scss"; //Превью новости
@import "blocks/_news_item.scss"; //Новость
@import "blocks/_pag.scss"; //Пагинация
@import "blocks/_compare.scss"; //Блок сравнения объектов
@import "blocks/_simple_block.scss"; //Стандартный обычный блок
@import "blocks/_text.scss"; //Контейнер для обычного текста (содержит каскад)
@import "blocks/_accordion.scss"; //Аккордеон
@import "blocks/_recall.scss"; //Карточка отзыва клиента (дубликат accordion)
@import "blocks/_download.scss"; //Ссылка на загрузку файла
@import "blocks/_history_hr.scss"; //Полоса, разделяющая объекты по датам
@import "blocks/_advert.scss"; //Объявление
@import "blocks/_form_cont.scss"; //Контейнер формы
@import "blocks/_back.scss"; //Кнопка "Назад к результатам"
@import "blocks/_interest.scss"; //Блок "Интересует ли объект"
@import "blocks/_item_img.scss"; //Главная картинка объекта
@import "blocks/_icon_short.scss"; //Иконка "Избранное" в карточке объекта
@import "blocks/_icon_comp.scss"; //Иконка "Сравнение" в карточке объекта

@import "_print.scss"; //Версия для печати