@import "_fonts.scss"; //Шрифты
@import "_variables.scss"; //Переменные
@import "_global.scss"; //Общие параметры

@import "blocks/_header_top.scss"; //Верхняя шапка
@import "blocks/_header_main.scss"; //Главная шапка
@import "blocks/_main.scss"; //Контент
@import "blocks/_unit.scss"; //Обычный блок
@import "blocks/_unit_lg.scss"; //Большой блок
@import "blocks/_unit_left.scss"; //Двойной блок, картинка слева
@import "blocks/_unit_top.scss"; //Двойной блок, картинка сверху
@import "blocks/_last_news.scss"; //Последние новости
@import "blocks/_footer.scss"; //Подвал
@import "blocks/_social.scss"; //Социальные иконки