@import "_fonts.scss"; //Шрифты
@import "_variables.scss"; //Переменные
@import "_global.scss"; //Общие параметры

@import "blocks/_header_top.scss"; //Верхняя шапка
@import "blocks/_header_main.scss"; //Главная шапка