.header_main {
	min-height: 75px;
	background: white;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin: 0;

	&__cont {
		max-width: $width_global;
	}

	&__toggle {
		margin-top: 14px;
		margin-bottom: 15px;
		position: relative;
	}

	&__toggle_line {
		background-color: $color_header;
		height: 4px;
		width: 35px;
		margin-top: 7px;
		transition: transform .35s, opacity .2s;

		&:nth-child(2) {
			margin-top: 0;
		}
	}

	&__lens {
		position: absolute;
		top: 22px;
		right: 90px;
		font-size: 30px;
		color: $color_header;
		border: none;

		&:hover,
		&:focus {
			color: $color_header;
			text-decoration: none;
		}
	}

	&__logo {
		height: 75px;
	}

	&__outer {
		padding: 0;
	}

	&__inner {
		margin-left: 235px;
	}

	&__items {
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;

		&::before,
		&::after {
			display: none;
		}
	}

	&__item {
		position: static;
		padding: 0 15px;

		// ANIMATION (see the _subitems file) //
		&.open,
		&:hover {
			
			.subitems {
				visibility: visible;
				opacity: 1;
				transition: visibility .3s, opacity .3s;
			}
		}
		// ========= //

		&:first-child {
			margin-left: -15px;
		}

		&--line {
			padding: 0;
		}

		&--last {
			margin-right: -15px;
		}
	}

	&__link {
		color: $color_header;
		line-height: 43px;
		cursor: pointer;
		position: relative;
		padding: 15px 0;
		font-weight: bold;

		&:hover,
		&:focus {
			color: $color_header;
			border-bottom: 2px solid $color_header;
		}

		&--phone {
			font-size: 23px;
			font-weight: normal;

			&:hover,
			&:focus {
				border-bottom: none;
			}
		}

		&--line {
			display: block;
			cursor: inherit;

			&::after {
				@extend %pseudoelem_param;
				height: 36px;
				width: 1px;
				background-color: $color_header;
				right: 4px;
				top: 20px;
			}
		}
	}

	&__img_phone {
		top: 5px;
	}

	&__arrow_right {
		top: 3px;
	}

	&__arrow_down {
		position: absolute;
		right: 25px;
		top: 25px;
	}
}

@media (max-width: 1075px) {
	.header_main {

		&__inner {
			margin-left: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1075px) {
	.header_main {
		position: static;

		&__logo {
			position: absolute;
			top: 0px;
			left: 15px;
			background-color: white;
			padding: 15px 15px 0;
			height: 66px;

			&:hover,
			&:focus {
				background-color: white;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 840px) {
	.header_main {

		&__items {
			font-size: $fs_smaller;
		}

		&__link {

			&--phone {
				font-size: $fs_bigger;
				font-weight: bold;
			}
		}

		&__img_phone {
			top: 3px;
		}

		&__img_arrow_right {
			top: 2px;
		}
	}
}

@media (max-width: 767px) {
	.header_main {

		&__items {
			display: block;

			&::before,
			&::after {
				display: table;
			}
		}

		&__item {
			border-bottom: 2px solid white;

			&.open {
				background-color: $color_footer;
			}

			//Исправление косяка с появлением ...
			//... подменю при наведении на мобилах
			&:not(.open) {

				&:hover {
					
					.subitems {
						visibility: hidden;
						opacity: 0;
					}
				}
			}
			//====================================

			&:first-child {
				margin-left: 0;
			}

			&--last {
				margin-right: 0;
			}
		}

		&__link {
			border-bottom: 2px solid white;
		}
	}
}

@media (max-width: 370px) {
	.header_main {

		&__toggle {
			margin-right: 5px;
		}

		&__lens {
			right: 65px;
		}
	}
}