.accordion {

	&__panel {
		box-shadow: none;
		border: none;
		margin-top: 20px;
	}

	&__link {
		position: relative;
		display: block;
		padding: 15px;
		padding-right: 55px;
		background-color: $color_header;
		color: $color_bright;
		text-decoration: none;
		font-size: $fs_bigger;

		&:hover,
		&:focus {
			color: $color_bright;
		}
	}

	&__arrow {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		line-height: 53px;
	}

	&__body {
		position: relative;
	}

	&__triangle {
		@extend %triangle_bottom;
		display: inline-block;
		position: absolute;
		border-top: 20px solid $color_header;
		top: 0;
		right: 40px;
		bottom: initial;
		left: initial;
	}

	&__descr {
		background-color: $color_footer;
		padding: 25px 15px 15px;
	}
}