.archive {
	padding-right: 30px;

	&__topic {
		margin-bottom: 0;
		padding-left: 30px;

		&::before {
			bottom: -14px;
			border-left-width: 15px;
			border-right-width: 15px;
			border-top-width: 15px;
		}
	}

	&__head {
		font-size: $fs_head;
		margin: 0;
	}

	&__body {
		padding: 30px 30px 20px;
		background-color: $color_footer;
	}

	&__list {
		padding-left: 0;
	}

	&__item {
		cursor: pointer;
		border-bottom: 1px solid $color_hr;
		padding: 3px 3px 3px 10px;

		&:hover,
		&:focus {

			&::before {
				color: $color_header;
			}

			.archive__link {
				color: $color_header;
			}
		}

		&:last-child {
			border: none;
		}
		
		&::before {
			color: $color_dark;
		}
	}

	&__link {

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}