.bread {
	font-size: $fs_smaller;
	border-bottom: 1px solid $color_footer;

	&__cont {
		max-width: $width_global;
		background-color: $color_bright;
		margin: 0 auto;
		line-height: 40px;
	}

	&__item {

		&:not(:first-child) {

			&::before {
				content: "+";
				color: $color_header;
			}
		}
	}

	&__link {
		
		&:hover,
		&:focus {
			color: $color_header;
		}
	}
}