.card {
	padding: 0 10px 30px;
	float: left;

	&:nth-child(3n+1) {
		padding: 0 20px 30px 0;
		clear: both;
	}

	&:nth-child(3n+3) {
		padding: 0 0 30px 20px;
	}

	&__img {
		display: block;
		position: relative;

		&--img_one {
			background: url("../img/unit_5.png") center no-repeat;
			background-size: cover;
			padding-bottom: 65%;
		}
	}

	&__img_link {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	&__content {
		padding: 15px 20px 20px;
		position: relative;
		background-color: $color_footer;

		&::before {
			@extend %pseudoelem_param;
			@extend %triangle_top;
		}
	}

	&__link {
		color: $color_header;
		text-decoration: none;
	}

	&__descr {
		@extend .unit_left__p;
		padding-bottom: 20px;
		border-bottom: 1px solid $color_hr;
		margin-bottom: 15px;
	}

	&__p {
		@extend .unit_left__p;
	}

	&__more {
		color: $color_header;
		text-decoration: none;
		font-size: 15px;
		display: inline-block;
		margin-top: 15px;

		&:hover,
		&:focus {
			color: $color_header;
			text-decoration: underline;
		}
	}
}

@media (max-width: $bp_md_max) {
	.card {

		&:nth-child(2n+1) {
			padding: 0 15px 30px 0;
			clear: both;
		}

		&:nth-child(2n+2) {
			padding: 0 0 30px 15px;
			clear: initial;
		}
	}
}

@media (max-width: $bp_sm_max) {
	.card {

		&:nth-child(n) {
			padding: 0 0 30px;
			float: none;
		}
	}
}