.checkbox_custom {
	display: none;

	//Стиль отмеченного чекбокса
	&:checked {

		+ .checkbox_custom__label {

			&::before {
				content: "\2713";
			}
		}
	}
	//==========================

	&__head {
		font-weight: bold;
		font-size: 17px;
		margin: 10px 0;
	}

	&__label {
		position: relative;
		display: block;
		font-weight: normal;
		padding: 4px 15px 4px 28px;
		margin-bottom: 0;
		cursor: pointer;

		&::before {
			@extend %pseudoelem_param;
			width: 18px;
			height: 18px;
			top: 3px;
			left: 0;
			background-color: $color_bright;
			color: $color_header;
			font-size: 22px;
			line-height: 17px;
		}
	}
}