.filter {
	background-color: $color_footer;
	position: relative;

	&__header_cont {
		padding: 10px;
		cursor: pointer;
	}

	&__header {
		font-size: $fs_head_bigger;
		color: $color_header;
		margin: 0 0 5px 15px;
		display: inline-block;
		line-height: 48px;
	}

	&__buttons {
		margin: 0 0 0 50px;
		display: none;
	}

	&__apply {
		margin-right: 5px;
		margin-bottom: 3px;
	}

	&__reset {
		font-size: 14px;
		cursor: pointer;
		display: inline-block;
		padding: 7px 15px;
	}

	&__arrow {
		position: absolute;
		display: inline-block;
		top: 0;
		right: 0;
		padding: 0 40px;
		line-height: 72px;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	&__arrow_icon {
		color: $color_header;
		top: 3px;
		left: 8px;
	}

	&__body_cont {
		padding: 20px;
		border-top: 1px solid $color_hr;
		display: none;
	}

	&__body_inner {
		border-left: 1px solid $color_hr;
		margin-left: 15px;
		padding-left: 15px;

		&:first-child {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
		}
	}
}

@media (max-width: $bp_sm_max) {
	.filter {

		&__header_cont {
			text-align: center;
			padding-bottom: 0;
		}

		&__buttons {
			display: block;
			margin: 15px 0 0;
		}

		&__arrow {
			position: static;
			display: block;
		}

		&__body_inner {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;

			&:nth-child(2) {
				border-left: 1px solid $color_hr;
				margin-left: 15px;
				padding-left: 15px;
			}
		}
	}
}

@media (max-width: 520px) {
	.filter {

		&__body_inner {
			width: 100%;

			&:nth-child(2) {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}