.header_main {
	min-height: 75px;
	background: white;
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid $color_hr;
	margin: 0;

	&__cont {
		max-width: $width_global;
	}

	&__toggle {
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
	}

	&__search {
		position: absolute;
		top: 1px;
		left: -50px;
		font-size: 30px;
		color: $color_header;
	}

	&__logo {
		margin-right: 0;
	}

	&__items_cont {
		padding: 0;
	}

	&__items {
		margin: 0
	}

	&__item {
		margin: 0;
	}

	&__link {
		color: $color_header;
		line-height: 43px;

		&--phone {
			font-size: 23px;

			&::after {
				@extend %pseudoelem_param;
				height: 36px;
				width: 1px;
				background-color: $color_header;
				right: 4px;
				top: 20px;
			}
		}
	}

	&__img_phone {
		top: 5px;
	}

	&__img_arrow {
		top: 3px;
	}
}

@media (min-width: 1172px) {
	.header_main {

		&__logo {
			margin-right: 50px;
		}

		&__item {
			margin: 0 7px;

			&--last {
				margin-right: 0;
			}
		}
	}
}