.header_top {
	font-size: $fs_smaller;
	background-color: $color_header;
	height: 65px;
	text-align: right;

	&__cont {
		line-height: 35px;
		height: 100%;
		padding: 12px 15px;
		max-width: $width_global;
	}

	&__href {
		margin-right: 30px;
		color: $color_bright;
		text-decoration: none;

		&:hover {
			color: $color_bright;
			text-decoration: none;
		}
	}

	&__search {
		display: inline-block;
		text-align: center;
		background : #C1012E;
		width : 130px;
		height : 40px;
		color: $color_bright;
		text-decoration: none;

		&:hover {
			color: $color_bright;
			text-decoration: none;
		}
	}
}

@media (max-width: 767px) {
	.header_top {
		display: none;
	}
}