.header_main {
	min-height: 75px;
	background: white;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin: 0;

	&__cont {
		max-width: $width_global;
	}

	&__toggle {
		margin-top: 20px;
		margin-bottom: 20px;
		position: relative;
	}

	&__search {
		position: absolute;
		top: 1px;
		left: -50px;
		font-size: 30px;
		color: $color_header;
	}

	&__outer_cont {
		padding: 0;
	}

	&__inner_cont {
		margin-left: 235px;
	}

	&__items {
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;

		&::before,
		&::after {
			display: none;
		}

		// Переопределение бутстрапа //
		li {
			position: static;
		}
		// ========================= //
	}

	&__item {
		position: static;

		&:first-child {
			margin-left: -15px;
		}

		&--last {
			margin-right: -15px;
		}
	}

	&__link {
		color: $color_header;
		line-height: 43px;

		&:hover {
			border-bottom: 2px solid $color_header;
		}

		&--phone {
			font-size: 23px;

			&::after {
				@extend %pseudoelem_param;
				height: 36px;
				width: 1px;
				background-color: $color_header;
				right: 4px;
				top: 20px;
			}
		}
	}

	&__subitems_cont {
		width: 100%;
		background-color: $color_footer;
		padding: 10px 0;
		border: none;
		border-top: 1px solid $color_hr;
		border-radius: 0;
		box-shadow: none;
	}

	&__subitems_inner {
		max-width: $width_global;
	}

	&__subitems {
		display: inline-block;
		padding: 0;
	}

	&__subitem {
		list-style-type: none;
		cursor: pointer;
		padding: 10px;
		border: 1px solid $color_footer;

		&:hover {
			color: $color_header;
			border-bottom: 1px solid $color_hr;
		}

		&::before {
			content: "+";
			font-weight: bold;
			font-size: 19px;
			margin-right: 5px;
		}
	}

	&__img_phone {
		top: 5px;
	}

	&__img_arrow {
		top: 3px;
	}
}

@media (max-width: 1045px) {
	.header_main {

		&__inner_cont {
			margin-left: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1045px) {
	.header_main {
		position: static;

		&__logo {
			position: absolute;
			top: 0px;
			left: 15px;
			background-color: white;
			padding: 8px;
			height: 100%;
		}
	}
}

@media (min-width: 768px) and (max-width: 809px) {
	.header_main {

		&__items {
			font-size: $fs_smaller;
		}

		&__link {

			&--phone {
				font-size: $fs_bigger;
			}
		}

		&__img_phone {
			top: 3px;
		}

		&__img_arrow {
			top: 2px;
		}
	}
}

@media (max-width: 767px) {
	.header_main {

		&__items {
			display: block;

			&::before,
			&::after {
				display: table;
			}
		}

		&__item {
			border-bottom: 2px solid white;

			&.open {
				background-color: $color_footer;
			}

			&:first-child {
				margin-left: 0;
			}

			&--last {
				margin-right: 0;
			}
		}

		&__link {
			border-bottom: 2px solid white;
		}

		&__subitems_cont {
			background-color: $color_footer;
		}

		&__subitems {
			display: block;
		}

		&__subitem {
			border: 1px solid $color_footer;
		}
	}
}

@media (max-width: 330px) {
	.header_main {

		&__toggle {
			margin-right: 5px;
		}
	}
}