.header_top {
	font-size: $fs_smaller;
	background-color: $color_header;
	height: 65px;
	text-align: right;

	&__cont {
		line-height: 37px;
		height: 65px;
		padding: 12px 15px;
		max-width: $width_global;
	}

	&__purchase {
		margin-right: 30px;
		color: $color_bright;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $color_bright;
		}
	}

	&__search_btn {
		display: inline-block;
		text-align: center;
		background : #C1012E;
		width : 130px;
		height : 40px;
		color: $color_bright;
		text-decoration: none;
		position: relative;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $color_bright;
		}
	}

	&__lens {
		font-size: 11px;
	}

	&__search_triangle {
		@extend %triangle_top;
		position: absolute;
		border-bottom-color: $color_header_darken;
		left: 45px;
		border-width: 0 20px;
		top: 0;
	}
}

@media (max-width: $bp_sm_max) {
	.header_top {
		height: 0;

		&__cont {
			height: 0;
		}
	}
}