.interest {
	display: inline-block;
	margin-top: 26px;
	margin-right: 40px;
	float: right;

	&__title {
		margin-right: 10px;
	}

	&__btn {
		position: relative;
		bottom: 1px;
	}
}

@media (max-width: $bp_md_max) {
	.interest {
		float: none;
	}
}

@media (max-width: $bp_sm_max) {
	.interest {
		margin-top: 20px;
		margin-right: 0;
		display: block;
	}
}

@media (max-width: $bp_xs_max) {
	.interest {

		&__title {
			display: inline-block;
			margin-bottom: 8px;
		}
	}
}