.last_news {
	background-color: $color_footer;
	padding: 15px 25px;
	position: relative;
	border-right: 1px solid $color_hr;
	width: 100%;

	&__more {
		position: absolute;
		top: 24px;
		right: 25px;
	}

	&__date {
		float: left;
		padding: 10px 0;
		display: inline-block;
		font-weight: bold;
	}

	&__descr {
		margin-left: 100px;
		padding: 10px 0;
		border-bottom: 1px solid $color_hr;
		display: block;

		&:last-child {
			border-bottom: none;
		}
	}
}

@media (max-width: $bp_md_max) {
	.last_news {
		border-right: none;
		border-bottom: 1px solid $color_hr;
	}
}

@media (max-width: $bp_xs_max) {
	.last_news {

		&__more {
			display: none;
		}

		&__date {
			float: none;
			padding: 15px 0 0;
		}

		&__descr {
			margin-left: 0;
		}
	}
}