.last_news {
	background-color: $color_footer;
	padding: 15px 25px;
	position: relative;
	border-right: 1px solid $color_hr;

	&__head {
		@extend .unit_left__head;
	}

	&__more {
		position: absolute;
		top: 15px;
		right: 25px;
	}

	&__date {
		float: left;
		padding: 10px 0;
	}

	&__descr_cont {
		margin-left: 100px;
		border-bottom: 1px solid $color_hr;

		&:last-child {
			border-bottom: none;
		}
	}

	&__descr {
		margin: 0;
		padding: 10px 0;
	}
}

@media (max-width: 992px) {
	.last_news {
		border-right: none;
		border-bottom: 1px solid $color_hr;
	}
}