.m_table {
	width: 100%;

	&__tr {

		&--active {
			background-color: $color_header;
			color: $color_bright;
		}
	}

	&__th,
	&__td {
		padding: 6px;
		text-align: center;
	}

	&__th {
		font-weight: normal;
		border-bottom: 1px solid $color_footer;
	}

	&__td {

	}
}