.main {

	&__cont {
		max-width: $width_global;
	}

	&__row {
		margin: 0 0 15px;
		position: relative;

		&--marg_zero {
			margin: 0;
		}

		&--flex {
			display: flex;
		}

		&--border_bot {
			overflow: hidden;
			border-bottom: 1px solid $color_footer;
		}
	}

	&__col {
		padding: 0;

		&--flex {
			display: flex;
		}
	}

	&__h1 {
		color: $color_header;
		font-size: $fs_head_lg;
	}

	&__h3 {
		color: $color_header;
		font-size: $fs_head;
		margin: 5px 0 10px;
	}

	&__social_fontello {
		float: right;
	}

	&__archive {
		margin-bottom: 20px;
	}
}

@media (max-width: $bp_md_max) {
	.main {

		&__cont {
			padding: 0;
		}

		&__row {

			&--flex {
				display: block;
			}

			&--spacing {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		&__col {

			&--flex {
				display: block;
			}
		}
	}
}