.owl {

	&__dots {
		position: absolute;
		bottom: 40px;
		left: 50px;
	}
	
	&__dot {
		border: 1px solid white;
		border-radius: 50%;
		padding: 5px;
		display: inline-block;
		margin-right: 7px;
		cursor: pointer;

		&.active,
		&:hover {
			background-color: white;
		}
	}
}

@media (max-width: $bp_xs_max) {
	.owl {

		&__dots {
			bottom: 10px;
			left: 15px;
		}
	}
}