.shortlist {
	color: $color_header;
	float: right;
	margin-top: 30px;

	&__star {
		padding-right: 5px;
		font-size: $fs_smaller;
	}
}

@media (max-width: $bp_sm_max) {
	.shortlist {
		margin-top: 5px;
	}
}