.social_block {
	background-color: $color_footer;
	padding: 15px 25px;
	width: 100%;

	&__head {
		@extend .unit_left__head;
	}

	&__social {
		margin: 15px 0;
	}
}

@media (max-width: 991px) {
	.social_block {
		text-align: center;
	}
}