.social {
		@extend %inline-ul;

	&__item {
		display: inline-block;
		margin-right: 15px;
		width: 62px;
		height: 62px;
		background-size: cover;

		&:last-child {
			margin-right: 0;
		}

		&:nth-child(1) {
			background-image: url("../img/social_fb.png");
		}

		&:nth-child(2) {
			background-image: url("../img/social_insta.png");
		}

		&--sm {
			width: 37px;
			height: 37px;
			margin-right: 12px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__link {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}