.unit_right {
	background-color: $color_footer;

	&::after {
		@extend %clearfix;
	}

	&__img {
		display: block;
		color: $color_bright;

		&:hover,
		&:focus {
			text-decoration: none;
			color: $color_bright;
		}

		&--img_1 {
			background: url("../img/unit_3.png") center no-repeat;
			background-size: cover;
			padding-bottom: 65%;
		}
	}

	&__content {
		display: inline-block;
		width: 100%;
		padding: 15px;
		position: relative;
		max-height: 247px;

		&::before {
			@extend %pseudoelem_param;
			@extend %triangle_right;
			z-index: 1;
		}

		&--bright {

			&::before {
				border-left-color: $color_bright;
			}
		}
	}

	&__link {
		text-decoration: none;
	}

	&__head {
		display: inline-block;
	}

	&__p {
		margin-bottom: 0;
	}

	&--bright {
		background-color: $color_bright;
		border: 1px solid $color_footer;
	}
}

@media (max-width: $bp_md_max) {
	.unit_right {
		margin-bottom: 15px;

		&__img {
			width: 100%;
		}

		&__content {
			width: 100%;

			&::before {
				border-color: $color_footer;
			}

			&--bright {

				&::before {
					border-color: $color_bright;
				}
			}

			&--top {

				&::before {
					top: -30px;
					left: 40px;
					right: initial;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-top: 0;
					border-bottom-width: 30px;
				}
			}

			&--bottom {

				&::before {
					bottom: -30px;
					left: 40px;
					top: initial;
					width: 0;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-bottom: 0;
					border-top-width: 30px;
				}
			}
		}

		&--bright {
			border-right: 0;
		}
	}
}

@media (max-width: $bp_sm_max) {
	.unit_right {

		&--bright {
			border-left: 0;
		}
	}
}