.unit {
	color: $color_bright;
	position: relative;
	overflow: hidden;
	display: block;

	&:hover,
	&:focus {
		color: $color_bright;
	}

	&__head {
		position: absolute;
		top: 20px;
		left: 30px;
		font-size: $fs_head_lg;
		font-weight: bold;
		margin: 0 0 20px;

		&--mid {
			margin-top: 13%;
		}


		&--bottom {
			top: auto;
			bottom: 30px;
			margin: 0;
		}
	}

	&__descr {
		position: absolute;
		left: 30px;

		&:hover {
			text-decoration: underline;
		}

		&--bottom {
			bottom: 20px;
		}
	}

	&--img_sklad_one {
		background: url("../img/unit_1.png") center no-repeat;
		background-size: cover;
		padding-bottom: 65%;
	}

	&--img_sklad_two {
		background: url("../img/unit_2.jpg") center no-repeat;
		background-size: cover;
		padding-bottom: 65%;
	}
		
	&--img_analit {
		background: url("../img/unit_4.png") center no-repeat;
		background-size: cover;
		padding-bottom: 65%;
	}
}

@media (min-width: $bp_sm_min) and (max-width: $bp_md_max) {
	.unit {

		&--img_sklad_one {
			padding-bottom: 43%;
			background-position-y: bottom;
		}

		&--img_sklad_two {
			padding-bottom: 43%;
		}
	}
}

@media (max-width: $bp_xs_max) {
	.unit {

		&__head {
			font-size: $fs_head;
		}

		&__descr {
			font-size: $fs_standart;
		}
	}
}