.unit_top {
	background-color: $color_footer;
	padding-bottom: 500px;
	margin-bottom: -500px;

	&__img {

		&--img_one {
			background: url("../img/unit_5.png") center no-repeat;
			background-size: cover;
			padding-bottom: 65%;
		}

		&--img_two {
			background: url("../img/unit_6.png") center no-repeat;
			background-size: cover;
			padding-bottom: 40%;
		}
	}

	&__content {
		padding: 15px;
		position: relative;
		padding-bottom: 500px;
		margin-bottom: -485px;

		&::before {
			@extend %pseudoelem_param;
			@extend %triangle_top;
		}

		&::after {
			display: none;
		}

		&--wide {
			background-color: $color_bright;
			border-right: 1px solid $color_footer;
			text-align: justify;

				&:hover {

					// Сброс тени при наведении //
					.unit_top {

						&__shadow {
							display: none;
						}
					}
					// ======================== //
				}

			&::before {
				border-bottom-color: $color_bright;
			}
		}
	}

	&__inner {

		&--wide {
			max-height: 105px;
			overflow: hidden;
			position: relative;
		}
	}

	&__p {
		@extend .unit_left__p;
	}

	&__arrow {
		position: absolute;
		top: 0;
		right: 0;
		color: #00867c;
	}

	&__shadow {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50px;
		background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	}
}

@media (max-width: 1050px) {
	.unit_top {

		&__inner {

			&--wide {
				max-height: 127px;
			}
		}
	}
}

@media (max-width: $bp_md_max) {
	.unit_top {
		
		&__content {
			margin-bottom: -469px;
			border-left: none;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 500px;
				left: 0px;
				height: 15px;
				background-color: $color_bright;
				margin-bottom: -31px;
				width: 100%;
			}

			&--wide {
				margin-bottom: -485px;
				border-right: none;
			}
		}

		&__inner {

			&--wide {
				max-height: initial;
			}
		}

		&__shadow {
			display: none;
		}
	}
}