.unit_top {
	background-color: $color_footer;
	padding-bottom: 500px;
	margin-bottom: -500px;

	&__img {

		&--img_one {
			background: url("../img/unit_5.png") center no-repeat;
			background-size: cover;
			padding-bottom: 65%;
		}

		&--img_two {
			background: url("../img/unit_6.png") center no-repeat;
			background-size: cover;
			padding-bottom: 40%;
		}
	}

	&__content {
		padding: 15px;
		position: relative;
		padding-bottom: 500px;
		margin-bottom: -485px;
		border-left: 1px solid $color_hr;

		&::before {
			@extend %pseudoelem_param;
			@extend %triangle_top;
		}

		&::after {
			display: none;
		}

		&--wide {
			background-color: $color_bright;
			border: 1px solid $color_hr;
			border-top: none;
			text-align: justify;

				&:hover {

					// Сброс тени при наведении //
					.unit_top__inner--wide {

						&::after {
							display: none;
						}
					}
					// ======================== //
				}

			&::before {
				border-bottom-color: $color_bright;
			}
		}
	}

	&__inner {

		&--wide {
			max-height: 105px;
			overflow: hidden;
			position: relative;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -20px;
				width: 100%;
				height: 60px;
				background: linear-gradient(to top, $color_bright, transparent);
			}
		}
	}

	&__head {
		@extend .unit_left__head;
	}

	&__p {
		@extend .unit_left__p;
	}

	&__arrow {
		position: absolute;
		top: 0;
		right: 0;
		color: #00867c;
	}

	&--wide {
	}
}

@media (max-width: 1050px) {
	.unit_top {

		&__inner {

			&--wide {
				max-height: 127px;
			}
		}
	}
}

@media (max-width: 991px) {
	.unit_top {
		
		&__content {
			margin-bottom: -469px;
			border-left: none;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 500px;
				left: 0px;
				height: 15px;
				background-color: $color_bright;
				margin-bottom: -31px;
				width: 100%;
			}

			&--wide {
				margin-bottom: -485px;
				border-right: none;
			}
		}

		&__inner {

			&--wide {
				max-height: initial;

				&::after {
					display: none;
				}
			}
		}
	}
}