.unit_top {
	display: flex;
	flex-direction: column;
	position: relative;

	&__img {
		width: 100%;

		&--img_one {
			background: url("../img/unit_5.png") center no-repeat;
			background-size: cover;
			padding-bottom: 65%;
		}

		&--img_two {
			background: url("../img/unit_6.png") center no-repeat;
			background-size: cover;
			padding-bottom: 40%;
		}
	}

	&__content {
		background-color: $color_footer;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 15px;
		position: relative;

		&::before {
			@extend %pseudoelem_param;
			@extend %triangle_top;
		}

		&--wide {
			background-color: $color_bright;
			border: 1px solid $color_hr;
			border-top: none;
			text-align: justify;

			&::before {
				border-bottom-color: $color_bright;
			}
		}
	}

	&__head {
		@extend .unit_left__head;
	}

	&__p {
		@extend .unit_left__p;
	}

	&__arrow {
		position: absolute;
		top: 15px;
		right: 15px;
		color: #00867c;
	}
}

@media (max-width: 991px) {
	.unit_top {
		margin-bottom: 15px;
	}
}